body {
  background-color: lightblue;
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
}

h1 {
  text-align: center;
  color: cornflowerblue;
}

nav {
  background-color: cornflowerblue;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: white;
  font-size: 1.5em;
}

nav a:hover {
  color: pink;
  text-decoration: none;
}

#showdiv {
  display: inline;
}

#show {
  color: skyblue;
}

img {
  width: 400px;
  height: auto;
}

#homeimg {
  width: 640px;
  height: 360px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333; /* Background color of the navbar */
}

li {
  float: left;
}

li a {
  display: block;
  color: white; /* Text color of the links */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111; /* Background color on hover */
}
